/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Patrick+Hand&family=Rock+Salt&display=swap");

body {
    height: 100vh;
    width: 100vw;
    color: #f7f7f7;
    background: rgb(15, 15, 15);
    font-family: "Patrick Hand", cursive;
}

.content {
    padding: 2rem;
    background-color: white;
    color: black;
    text-align: center;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
    border-image-repeat: repeat;
}

h1 {
    font-size: 84px;
    padding-top: 1em;
    padding-right: 0;
    width: max-content;
    margin: 0 0 1rem;
    text-align: center;
    border-bottom: 20px dotted white;
}

.the {
    font-family: "Jacques Francois Shadow", cursive;
    position: absolute;
    font-size: 36px;
    margin-left: 0.25em;
}

h1,
h2,
h3,
.hours th {
    text-transform: uppercase;
    font-family: "Jacques Francois Shadow", cursive;
    font-weight: normal;
}

.hours th {
    font-size: 24px;
}

svg {
    fill: #f7f7f7;
    padding: 0;
}

address p,
address a {
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

h2 {
    margin: 0;
    font-size: 50px;
}

.hours_and_address {
    display: flex;
    margin: 4em 0em;
}

.hours,
address {
    width: 50%;
    text-align: center;
}

.squiggly,
.zigzag {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3em;
    background-size: cover;
    background-position: center;
}

.zigzag {
    background-image: url("assets/images/zigzag.png");
}

.squiggly {
    background-image: url("assets/images/squiggly.png");
}

.dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #e0f7fa;
}

table {
    width: 100%;
}

.coffee {
    margin: 2em 0;
}

a {
    text-decoration: none;
    color: #f7f7f7;
}

.coffee td {
    padding: 1em 3em 2.5em 0em;
    margin: 0;
}

.product_name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}

.coffee th {
    text-align: left;
    padding-bottom: 1em;
    padding-top: 3em;
    font-family: "Jacques Francois Shadow", cursive;
}
td[class="price"],
.prices {
    text-align: center;
    padding: 0 1em;
}

td:nth-child(4),
th:nth-child(3) {
    border-left: none;
}

.parallax {
    /* Your code goes here! */
    /* Quick fact: Did you know leopards are no longer considered apex predators? No matter how quiet they try to be, they're always spotted. */
}